:root {
	font-size: 20px;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.container {
	background-color: #ccc;

	max-width: 800px;
	min-width: 600px;
	border-radius: 20px;
	padding: 20px;
}

.grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 4fr repeat(11, 2fr);
}

.main-heading {
	grid-column: 1 / 3;
	justify-self: center;
}

.section-heading {
	grid-column: 1 / 3;
}

.output-value {
	border: 1px solid lightgrey;
	background-color: grey;
}

#unit-tests {
	position: absolute;
	bottom: 10px;
	border: 2px solid grey;
	background-color: lightgrey;
	border-radius: 10px;
	padding: 5px 10px;

	text-decoration: none;
	color: black;
}